body {
    background-color: rgb(20, 20, 20);
}

h1 {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    font-weight: 700;
}
.content{
    text-align: center;
}
.sectionname{
    font-size:30px;
}
.intro {
    text-align: center;
    border: 3px solid #1FA432;
    border-radius: 10px;
    width:75%;
    display: inline-block;
}

p{
    color: white;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

.container{
    text-align: center;
}

 .column {
    float: left;
    width: 32%;
    padding: 5px;
    
  }
  .row{
    margin-left: 17px;
  }
  .row::after {
    content: "";
    clear: both;
    display: table;
  } 

.blinking-cursor {
    /* Thanks to https://codepen.io/ArtemGordinsky/pen/GnLBq */
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    font-size: 40px;
    color: white;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {

    from,
    to {
        color: transparent;
    }

    50% {
        color: white;
    }
}

@-moz-keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: white;
    }
}

@-webkit-keyframes "blink" {

    from,
    to {
        color: transparent;
    }

    50% {
        color: white;
    }
}

@-ms-keyframes "blink" {

    from,
    to {
        color: transparent;
    }

    50% {
        color: white;
    }
}

@-o-keyframes "blink" {

    from,
    to {
        color: transparent;
    }

    50% {
        color: white;
    }
}
/* Hover.css - Author: Ian Lunn @IanLunn */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }