html,body {
    background-color: #171717;
    height: 100%;
    margin: 0;
    color: white;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 20px;
    padding:0;
    text-align: center;
}

h1{
    margin-bottom: -25px;
    font-size: 50px;
}

.lp{
    width:50px;
    height:50px;
}

.lp path{
    fill:white;
    
}

.lessmarg{
    margin-right: 8px;
}

.center {
    width: 500px;
        height: 600px;
        position:absolute; 
        left:0; right:0;
        top:0; bottom:0;
        margin:auto;
        max-width:100%;
        max-height:100%;
        overflow:auto;
  }



/* Hover.css - Author: Ian Lunn @IanLunn */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }