html,body{
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
}

/*FIRST PAGE STYLE*/
#left,#right{
    width: 50%;
    height: 100%;
    display:inline-block;
    margin:0;
    padding:0;
}

#left{
    background-image: url("../img/bg-left.jpg");
    
}

#right{
    background-image: url("../img/bg-right.jpg");
}
#main{
    overflow-y: hidden;
}
#left img,#right img{
    display:block;
    margin:0;
    padding:0;
    height: 300px;
    text-align: center;
}
#logo1{
    background: url("../img/logo.png") no-repeat center center;
    background-size: 400px;
    width: 100%;
    height: 100%;
    transition: background-size 0.8s;
}
#logo2{
    background: url("../img/undreamit.png") no-repeat center center;
    background-size: 400px;
    width: 100%;
    height: 100%;
    transition: background-size 0.8s;
}

#logo2:hover,#logo1:hover{
    background-size: 450px;
}

/* HERNIKPLAYS HOMEPAGE STYLE */
#start{
    color:white;
    text-align: center;
    height:auto;
    width:100%;
    background: rgb(34, 34, 34);
    
}
#start h1{
    padding-top:0;
    font-size: 90px;
}
#start h2{
    padding-top:5px;
    padding-bottom: 10px;
    font-size: 40px;
}
#start h3{
    text-decoration: underline;
}

#start img{
    height: 250px;
}

.name{
    font-size: 20px;
    color:white;
    margin-bottom: 0;
}

.desc{
    font-size: 17px;
    color:lightgray;
    margin-bottom: 0;
}

a:hover{
    text-decoration: none !important;
}

@media all and (max-width: 720px) and (min-width: 360px) {
    #start h1{
        font-size: 50px;
    }
    #start h2{
        font-size: 25px;
    }
    #start img{
        height: 200px;
    }
  }

  /* Hover.css - Author: Ian Lunn @IanLunn */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.icons{
    padding-bottom: 20px;
}