html,body {
    
    height: 100%;
    margin: 0;
    color: white;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 20px;
    padding:0;
}

  /*MAINTENANCE */
  .center {
    height: 55px;
    left: 50%;
    margin-top: -125px;
    margin-left: -165px;
    position: absolute;
    top: 50%;
    width: 366px;
 }

 h1{
     margin-top:50px;
     padding:0;
     text-align: center;
 }
 p{
     text-align: center;
 }
 a{
     color:white;
 }
 a:hover{
     color:rgb(209, 209, 209);
 }
 a:active{
     color:rgb(148, 148, 148);
 }
 a:visited{
     color:white;
 }