body {
    background-color: #000502;
}

h1 {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
}
.content{
    text-align: center;
}
.intro {
    text-align: center;
    border: 3px solid #1FA432;
    border-radius: 10px;
    width:75%;
    display: inline-block;
}

.about{
    color: white;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
}

.container{
    text-align: center;
}

 .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  } 

.blinking-cursor {
    /* Thanks to https://codepen.io/ArtemGordinsky/pen/GnLBq */
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    font-size: 40px;
    color: white;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {

    from,
    to {
        color: transparent;
    }

    50% {
        color: white;
    }
}

@-moz-keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: white;
    }
}

@-webkit-keyframes "blink" {

    from,
    to {
        color: transparent;
    }

    50% {
        color: white;
    }
}

@-ms-keyframes "blink" {

    from,
    to {
        color: transparent;
    }

    50% {
        color: white;
    }
}

@-o-keyframes "blink" {

    from,
    to {
        color: transparent;
    }

    50% {
        color: white;
    }
}