html,body {
    background-color: #3d3d3d;
    height: 100%;
    margin: 0;
}

p{
    color: white;
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    font-size: 25px;
}

div p {
    margin: 0;
}

#titlebar{
    background-color: #2f2f2f;
    width: 100%;
    height: 5%;
}

.title{
    font-size: 25px;
    padding-top: 8px;
    font-family: 'Ubuntu', sans-serif;
}

pre{
    color:white;
    text-align: center;
    font-size: 20px;
}

.close{
    border: 0;
    background-color: transparent;
}
.close:hover{
    cursor: pointer;
}

#xicon{
    margin-top: -30px;
    float: right;
}

.margright{
    margin-right: 20px;
}

#centertext{
    margin-top: 10px;
    display: inline-block;
    width: 44%;
}
#terminal{
    text-align: center;
}

.nadpis{
    font-size: 17px;
    margin-left: -15px;
}

.icon{
    font-size: 15px;
}

#icons{
    margin-top: -25px;
    margin-left: 65px;
}

.lessmarg{
    margin-right: 8px;
}

#end{
}

.name{
    color:#6fb537;
    text-align: left;
    padding-left: 20px;
}

svg{
    width:50px;
    height:50px;
}

path{
    fill:white;
    
}



.blinking-cursor {
    /* Thanks to https://codepen.io/ArtemGordinsky/pen/GnLBq */
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 700;
    font-size: 40px;
    color: white;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {

    from,
    to {
        color: transparent;
    }

    50% {
        color: white;
    }
}

@-moz-keyframes blink {

    from,
    to {
        color: transparent;
    }

    50% {
        color: white;
    }
}

@-webkit-keyframes "blink" {

    from,
    to {
        color: transparent;
    }

    50% {
        color: white;
    }
}

@-ms-keyframes "blink" {

    from,
    to {
        color: transparent;
    }

    50% {
        color: white;
    }
}

@-o-keyframes "blink" {

    from,
    to {
        color: transparent;
    }

    50% {
        color: white;
    }
}
/* Hover.css - Author: Ian Lunn @IanLunn */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }